/* CSS Reset */
*{
    padding: 0;
    margin: 0;
}

#maincontainer{
    padding: 0;
    margin: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 30px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

/* Navigation Bar : Logo and Img */

#logo{
    margin: 12px;
}

#logo img{
    height: 80px;
    width: 75px;
}

/* Navigation Bar : List Styling */

#navbar ul{
    display: flex;
    align-items: center;
    font-family: 'Grape Nuts', cursive;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: white;
    display: block;
    margin: 3px 22px;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    /* font-weight: bold; */
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('vegetable1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    font-size: 1.4rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */

#services{
    margin: 32px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 30px;
    margin: 3px 6px;
    border-radius: 26px;
    background-color: #e6e6e6;
    font-family: 'Dancing Script', cursive;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

.hand{
    width: 390px;
}

/* Clients Section */

#client-section{
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('vegetable.jpg') no-repeat center center/cover;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 126px;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contact.jpg) no-repeat center center/cover;
}

/* Utility Classes */

.primary{
    font-size: 3.8rem;
    padding: 12px;
    color: black;
    font-family: 'Bree Serif', serif;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    color: white;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 2.1rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.center{
    text-align: center;
}

/* Button */
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    background-color: rgb(177, 146, 141);
    margin: 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.contact{
    font-size: 8.1rem;
    position: relative;
    top: 78px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 480px;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

/* Footer */

footer{
    color: white;
    background-color: black;
    padding: 9px 20px;
}